accelerate==1.14.0
ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.10
action-tutorials-py==0.33.10
actionlib-msgs==5.3.7
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
ament-cmake-test==2.5.6
ament-copyright==0.17.5
ament-cppcheck==0.17.5
ament-cpplint==0.17.5
ament-flake8==0.17.5
ament-index-python==1.8.2
ament-lint==0.17.5
ament-lint-cmake==0.17.5
ament-package==0.16.5
ament-pep257==0.17.5
ament-uncrustify==0.17.5
ament-xmllint==0.17.5
angles==1.16.1
annotated-types==0.7.0
anyio==4.14.1
attrs==26.1.0
av==15.1.0
builtin-interfaces==2.0.3
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
cloudpickle==3.1.2
cmake==4.1.3
composition-interfaces==2.0.3
control-msgs==5.9.0
controller-manager==4.44.0
controller-manager-msgs==4.44.0
cuda-bindings==13.3.1
cuda-pathfinder==1.5.6
cuda-toolkit==13.0.2
cv-bridge==4.1.0
datasets==4.8.5
deepdiff==8.6.2
demo-nodes-py==0.33.10
diagnostic-msgs==5.3.7
diagnostic-updater==4.2.6
dill==0.4.1
domain-coordinator==0.12.0
draccus==0.10.0
einops==0.8.2
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
Farama-Notifications==0.0.6
feetech-servo-sdk==1.0.0
filelock==3.29.7
foxglove-sdk==0.25.3
frozenlist==1.8.0
fsspec==2026.2.0
generate-parameter-library-py==0.7.1
geometry-msgs==5.3.7
gitdb==4.0.12
GitPython==3.1.50
gymnasium==1.3.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.23.0
idna==3.18
image-geometry==4.1.0
interactive-markers==2.5.5
Jinja2==3.1.6
joint-state-publisher==2.4.1
joint-state-publisher-gui==2.4.1
jsonlines==4.0.0
laser-geometry==2.7.2
launch==3.4.10
launch-param-builder==0.1.1
launch-ros==0.26.11
launch-testing==3.4.10
launch-testing-ros==0.26.11
launch-xml==3.4.10
launch-yaml==3.4.10
lerobot==0.6.0
lifecycle-msgs==2.0.3
logging-demo==0.33.10
map-msgs==2.4.1
MarkupSafe==3.0.3
mergedeep==1.3.4
message-filters==4.11.12
moveit==2.12.4
moveit-configs-utils==2.12.4
moveit-msgs==2.6.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy_extensions==1.1.0
nav-msgs==5.3.7
networkx==3.6.1
numpy==2.2.6
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python-headless==4.13.0.92
orderly-set==5.5.0
osrf-pycommon==2.1.7
packaging==25.0
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==2.3.3
pcl-msgs==1.0.0
pendulum-msgs==0.33.10
pillow==12.3.0
platformdirs==4.10.0
propcache==0.5.2
protobuf==7.35.1
psutil==7.2.2
pyarrow==25.0.0
pydantic==2.13.4
pydantic_core==2.46.4
pyserial==3.5
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
pytz==2026.2
PyYAML==6.0.3
pyyaml-include==1.4.1
qt-dotgraph==2.7.6
qt-gui==2.7.6
qt-gui-cpp==2.7.6
qt-gui-py-common==2.7.6
quality-of-service-demo-py==0.33.10
rcl-interfaces==2.0.3
rclpy==7.1.11
rcutils==6.7.5
requests==2.34.2
rerun-sdk==0.33.1
resource-retriever==3.4.4
rmw-dds-common==3.1.1
ros2action==0.32.9
ros2bag==0.26.10
ros2bag-mcap-cli==0.26.10
ros2bag-sqlite3-cli==0.26.10
ros2cli==0.32.9
ros2component==0.32.9
ros2controlcli==4.44.0
ros2doctor==0.32.9
ros2interface==0.32.9
ros2launch==0.26.11
ros2lifecycle==0.32.9
ros2multicast==0.32.9
ros2node==0.32.9
ros2param==0.32.9
ros2pkg==0.32.9
ros2plugin==5.4.5
ros2run==0.32.9
ros2service==0.32.9
ros2topic==0.32.9
rosbag2-interfaces==0.26.10
rosbag2-py==0.26.10
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-rs==0.4.11
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
rqt-graph==1.5.6
rqt-gui==1.6.3
rqt-gui-py==1.6.3
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.3
rqt-py-console==1.2.3
rqt-reconfigure==1.6.4
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
safetensors==0.8.0
sensor-msgs==5.3.7
sensor-msgs-py==5.3.7
sentry-sdk==2.64.0
service-msgs==2.0.3
setuptools==80.10.2
shape-msgs==5.3.7
six==1.17.0
smmap==5.0.3
srdfdom==2.0.7
sros2==0.13.6
statistics-msgs==2.0.3
std-msgs==5.3.7
std-srvs==5.3.7
stereo-msgs==5.3.7
sympy==1.14.0
teleop-twist-keyboard==2.4.1
termcolor==3.3.0
tf2-geometry-msgs==0.36.20
tf2-kdl==0.36.20
tf2-msgs==0.36.20
tf2-py==0.36.20
tf2-ros-py==0.36.20
tf2-sensor-msgs==0.36.20
tf2-tools==0.36.20
toml==0.10.2
topic-monitor==0.33.10
torch==2.11.0
torchcodec==0.11.1
torchvision==0.26.0
tqdm==4.68.4
trajectory-msgs==5.3.7
triton==3.6.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
unique-identifier-msgs==2.5.0
urdfdom-py==1.2.1
urllib3==2.7.0
visualization-msgs==5.3.7
wandb==0.27.2
wheel==0.47.0
xacro==2.1.1
xxhash==3.8.1
yarl==1.24.2
